.product__card__general__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 350px;
  min-height: 435px;
  box-shadow: 2px 1px 12px rgba(0, 0, 0, 0.558);
  border-radius: 6px;
  scale: 1;
  transition: 0.5s ease;
  z-index: 0;
}
.product__card__general__container:hover {
  scale: 1.025;
  transform: translateY(-8px);
  transition: 0.5s ease;
  box-shadow: 0px 0px 8px rgb(130, 152, 243);
}
.product__card__img__general__container {
  border-bottom: solid 1px rgba(0, 0, 0, 0.264);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 250px;
  min-height: 250px;
  position: relative;
}
.product__card__img__general__container:hover {
  .product__card__second__img {
    opacity: 1;
  }
}
.product__card__first__img {
  height: 80%;
  width: 78%;
  object-fit: contain;
}
.product__card__second__img {
  position: absolute;
  height: 80%;
  width: 80%;
  object-fit: contain;
  top: 9.8%;
  left: 9.5%;
  background-color: white;
  opacity: 0;
  transition: opacity 1s;
}
.product__card__info {
  padding: 20px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.product__card__brand {
  color: #adabab;
  font-size: 17.6px;
}
.product__card__title {
  color: #515151;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.product__card__price {
  color: #adabab;
  font-size: 16px;
}
.product__card__price__amount {
  font-size: 19.2px;
  margin-left: 10px;
  color: #515151;
  font-weight: bold;
}
.product__add__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 8%;
  right: 4%;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: #f85555;
  cursor: pointer;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.723);
  transition: 0.5s ease;
}
.product__add__button:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 8px black;
  transition: 0.5s ease;
}
.product__add__button i {
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.product__cart__add__btn__already__in {
  position: absolute;
  padding: 5px 8px;
  bottom: 10%;
  right: 2%;
  background-color: #9ee59e;
  color: rgb(22, 21, 21);
  border-radius: 0px;
  font-size: 12px;
  font-weight: bold;
  max-width: 180px;
  text-align: center;
}
