.profile__general__container {
  margin-top: 2.5rem;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("https://i.imgur.com/npjBHRd.png");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.history__component__profile__container {
  position: absolute;
  top: 0.5rem;
  left: 2rem;
}
.personal__data {
  margin-top: 3rem;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.511);
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.personal__data h3 {
  font-size: 18px;
  color: #2d2b2be8;
  text-align: center;
}
.personal__data ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.personal__data ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.personal__data ul li i {
  color: #f55555;
  font-size: 18px;
}
.personal__data ul li b {
  color: #2d2b2b;
  font-size: 14px;
}
