.register__general__container {
  width: 100%;
  padding: 8px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.register__general__container span {
  color: #f55555;
}
.register__general__container h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 22px;
  color: #5e5c5c;
  max-width: 300px;
}
.register__already__have__account__container {
  font-size: 14px;
}
.register__already__have__account__container span {
  margin-left: 0.1rem;
  color: #44a2d1;
  font-weight: bolder;
}
