.header {
  padding: 14px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: relative;
}
.header__title {
  color: #f55555;
  font-size: 10px;
  width: 50%;
}
.header__list__general__container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.header__log__out__button__container {
  border: none;
  cursor: pointer;
}
.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link.active {
  .header__list__item {
    color: #f55555;
    border-color: #f55555;
  }
}
.header__list__item {
  font-size: 18px;
  color: gray;
  scale: 1;
  transition: scale 0.3s ease;
  width: 30px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid white;
}
.header__list__item:hover {
  scale: 1.3;
  color: #f55555;
  transition: 0.3s ease;
}
.bx-cart {
  position: relative;
}
.header__cart__icon__total__container {
  bottom: 10%;
  right: -16%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #f55555;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}
.header__cart__icon__total__container span {
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 10px;
}
/* MEDIA QUERIES */
@media screen and (min-width: 375px) {
  .header__title {
    font-size: 12px;
  }
  .header__list__item {
    font-size: 20px;
  }
}

/* 425px======================================== */
@media screen and (min-width: 425px) {
  .header__title {
    font-size: 14px;
  }
  .header__list__item {
    font-size: 24px;
  }
  .header__cart__icon__total__container {
    width: 16px;
    height: 16px;
  }
  .header__cart__icon__total__container span {
    font-size: 12px;
  }
}
/* 768px======================================== */
@media screen and (min-width: 768px) {
  .header__title {
    font-size: 16px;
  }
  .header__list__item {
    font-size: 26px;
  }
  .header__list__general__container {
    padding-right: 1.5rem;
    max-width: 35%;
  }
}
