.sign__up__form__general__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  gap: 0.5rem;
}
.sign__up__form__input__general__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sign__up__form__input__general__container label {
  margin-bottom: 0.1rem;
  font-size: 17px;
  color: #343131;
}
.sign__up__form__input__general__container input {
  padding: 5px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.358);
  border-radius: 3px;
}
.sign__up__form__input__general__container input:focus {
  outline-color: #f55555;
}
.sign__up__form__btn {
  margin-top: 0.2rem;
  font-size: 16px;
  padding: 9px;
  background-color: #f55555;
  border: none;
  color: white;
  scale: 1;
  transition: 0.5s ease;
  cursor: pointer;
}
.sign__up__form__btn:hover {
  scale: 1.1;
  transition: 0.5s ease;
}
.sign__up__form__password__container  {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sign__up__form__password__container input {
  width: 100%;
}
.sign__up__form__password__container  button {
  background-color: white;
  position: absolute;
  display: flex
  justify-content: center;
  align-items: center;
 
  top: 6px;
  right: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  text-align: center ;
}

.sign__up__form__password__container  button i{
  display: flex;
  justify-self: center;
  align-items: center;
}