.footer__component__general__container {
  background: #3c3c3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 0.5rem;
}
.footer__component__items__general__container {
  padding-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__item a {
  width: 35px;
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255, 0.204);
  backdrop-filter: blur(5px);
  border-radius: 50%;
  cursor: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__item a i {
  font-size: 22px;
  scale: 1;
  transition: 0.3s ease;
  cursor: pointer;
}
.footer__item a i:hover {
  transform: scale(1.3);
  transition: 0.3s ease;
}
.footer__component__rights__mail__general__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__component__rights__mail__general__container p:first-child {
  background-color: rgba(255, 255, 255, 0.21);
  border-radius: 5px;
  width: 220px;
  text-align: center;
}
.footer__component__rights__mail__general__container p a:first-child {
  font-size: 14px;
  color: #f55555;
}
.footer__component__rights__mail__general__container p:last-child {
  font-size: 12px;
  color: #eee1e1;
  font-weight: 400;
}
